.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

mat-card {
  margin: 20px;
  width: 75%;
}

.summary {
  justify-content: flex-end;
  align-items: center;
}

mat-form-field {
  width: 50%;
}
.weather-icon {
  width: 100px;
}
.city-dropdown {
  display: flex;
  align-items: center;
  mat-spinner {
    margin-bottom: 15px;
    margin-left: 20px;
  }
}
.descripton {
  display: flex;
  flex-direction: column;
}
